@import 'nib'

.header
  max-width: 960px
  height: 100%
  margin: auto
  padding: 0 20px
  display: flex
  align-items: center

  &-nav
    margin-left: 10px
    margin-top: 5px
    font-size: 20px
    @media (max-width: 480px)
      font-size: 15px
    a
      margin: 0 10px

  &-auth
    margin-left: auto

  &-login-button.button
    color: #fff

  &-login-provider
    @media (max-width: 480px)
      display: none

  &-avatar
    width: 30px
    height: @width
    margin-right: 10px
    @media (max-width: 360px)
      display: none

  &-login
    @media (max-width: 480px)
      display: none

  &-logo
    font-family: 'OpenSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size: 40px
    line-height: 36px
    margin: 0
    @media (max-width: 480px)
      font-size: 30px

  &-container
    height: 60px
    background: url('../images/nav-bg.gif') #353535
    border-bottom: 4px solid #434343
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
